body {
    color: black;
}

.titulo1 {
    color: aqua;
    text-align: center;
}

.titulo2 {
    color: aqua;
    text-align: center
}

.titulo3 {
    color: aqua;
    text-align: center
}

.piepag {
    float: none;
    padding: 15px;
    margin: 5px;
    color: rgb(29, 27, 27);
    background: #4b78ac;
}

a:link {
    border: 1px solid #0026ff;
    text-align: center;
    font: bold 14px verdana;
    color: darkcyan;
    background: black;
}

a:hover {
    color: white;
    background: darkcyan;
}

a:visited {
    color: black;
    background: cyan
}